<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>View Contacts</title>
</head>
<body>
	<section>
		<div class="card mx-4 mb-3">
			<div class="card-body">
				<h1 class="text-center mb-4">Add Contact</h1>
				
				
				<!-- Search Field-->
				
				<div class="search-container my-4">
					<input onkeyup="search()" id="search-input" type="text"  class="form-control" placeholder="Seach your contacts"/>
					
					<div class="search-result">
						
					</div>
				</div>
				
				
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Phone</th>
				      <th class="text-center" scope="col">View More</th>
				      <th class="text-center" scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="c,status: ${contacts}">
				      <th scope="row" th:text="${(currentPage)*10}+${status.index} +1"></th>
				      <td >
						<img class="my_profile_picture" th:src="@{'/img/' + ${c.image}}" src="" alt="profile photo" />
						<span th:text="${c.name}"></span>  
					  </td>
				      <td th:text="${c.email}">Otto</td>
				      <td th:text="${c.phone}">@mdo</td>
				      <td class="text-center">
						  <a th:href="@{'/user/'+ ${c.cId} +'/contact'}" href="#">
						   <button class="btn btn-outline-primary btn-sm"><i class="fa fa-info-circle"></i></button>
						  </a>
					 	</td>	  
</td>
				      <td class="text-center">
						  <a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
						  
						  <form method="post" th:action="@{'/user/update-contact/' + ${c.cId}}" class="mt-2">
						  	<button type="submit" class="btn btn-outline-success btn-sm"><i class="fa fa-pencil-square"></i></button>
						  </form>
					  </td>
				    </tr>
				  </tbody>
				</table>
				
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li th:if="${currentPage!=0}" class="page-item"><a  th:href="@{'/user/view-contacts/' + ${currentPage-1}}" class="page-link" href="#">Previous</a></li>
				    
				    <li th:classappend="${currentPage==i-1? 'active': ''}" th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/view-contacts/' + ${i-1}}" href="#"><span th:text="${i}"></span></a></li>
				    
				    <li th:if="${currentPage+1!=totalPages}" class="page-item"><a  th:href="@{'/user/view-contacts/' + ${currentPage+1}}" class="page-link" href="#">Next</a></li>
				  </ul>
				</nav>
			</div>
		</div>	
	</section>
	
</body>
</html>